@import './base.css';



#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-weight: normal;
  
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

body{
  padding: 20px 0;
}

body{
  background:
  linear-gradient(to bottom, #434343 0%, black 120%);
}
div {
  color: #dfdfdf;
  font-family: 'Kumbh Sans', sans-serif;
  line-height: 2.3;
  font-family: Arial, sans-serif;
}

button {
  display: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    width: 40%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #473f3e;
    color: #fff;
    
}

button:hover {
  background: #dcc810;
    transition: all 0.3s ease;
}

.view-enter-active, .view-leave-active {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease;
}
.view-enter-active {
  transition-delay: 0.5s;
}

.view-enter, .view-leave-to {
opacity: 0;
}

.view-enter-to, .view-leave {
opacity: 1;
}

.form-group {
  padding: .5rem;
  
}

.form-control {
  margin: .3rem;

}

